---
import Button from "../components/Button.astro";
import ImageComponents from "../components/ImageComponents.astro";
import ScriptHandling from "../components/ScriptHandling.astro";
---

<div>
  <ScriptHandling />
</div>