---
import Button from "../components/Button.astro";
import ImageComponents from "../components/ImageComponents.astro";
import ScriptHandling from "../components/ScriptHandling.astro";
import Slider from "../components/Slider.astro";
---

<div>
  <Slider />
</div>
