---
---

<div class="bgimage">
  <h1>Welcome, world!</h1>
</div>

<h1>The Document Object</h1>
<h2>The querySelectorAll() Method</h2>

<p>Add a background color to the first p element:</p>
<p>This is a p element.</p>
<p>This is a p element.</p>

<script>
  const nodeList = document.querySelectorAll("p");
  nodeList[0].style.backgroundColor = "red";

  var bgImageArray = ["social.jpg, anpr1.jpg, anpr2.jpg"];
  console.log(bgImageArray);
</script>
